body {
  background-color: #3D595B;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color: #D95D39;
  font-size: 70px;
  text-align: center;
  letter-spacing: 2.5px;
  text-shadow: -2px 2px 2px #FFFFFF;
  padding: 20px;
}

h3 {
  color: #FC8E3A;
  justify-content: center;
  display: flex;
  font-family: 'Lato', sans-serif;
  text-shadow: 0px 2px 6px #1B2F33;
  margin-left: 20px;
}

#accuser {
 /* justify-content: center; */
}